.feature-wrapper {
    text-align: center;
    flex: 1;
    padding: 2.5rem;

    .feature-img {
        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
    }

    .feature-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
}

