@import '../../../../utils/style/colors.scss';

.edit-input-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 15px;

    @media screen and (max-width: 720px) {
        width: 80%;
        flex-direction: column;
        padding: 0 2rem;
        box-sizing: border-box;
    }        
    
    #firstname, #lastname {
        width: 200px;
        padding: 10px 0 10px 10px;
        box-sizing: border-box;

        @media screen and (max-width: 720px) {
            width: 100%;
        }
    }

    label {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

.edit-button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

    .choice {
        width: 120px;
        background-color: white;
        color: $main-color;
        padding: 7px;    

        @media screen and (max-width: 720px) {
            width: 110px;;
        }
    }
}

