.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    .logo {
        width: 200px;
    }

    .login-wrapper {
        text-decoration: none;
        font-weight: bold;
        color: #2c3e50;
        margin-right: 0.5rem;

        &:hover {
            text-decoration: underline;
        }

        svg.svg-inline--fa.fa-circle-user {
            margin-right: 4px;
        }
    }
}